/*img.content-icon-size {
	height: 150px;
	width: 150px;
}

.content-rules {
	height: 848px;
	margin: 48px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.content-rules-first_block {

}

.content-rules-ruleblock {
	height: 210px;
	border-bottom: 2px solid #e1e2e3;
}

.content-rules-ruleblock-pic {
	width: 150px;
	height: 150px;
	padding: 30px;
	background-color: #b8c1df;
	border-right: 2px solid #e1e2e3;
	float: left;
}

.content-rules-ruleblock-data {
	padding-top: 58px;
	padding-left: 58px;
	height: 143px;
	float: left;
}*/